* {
background-color: #33393f;
font-family: Helvetica, Arial, sans-serif;
}



main {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
column-gap:20px;
row-gap:80px;
margin:0vh 3vw;
}

@media screen and (max-width:992px) {
    main {
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(3, 300px);
    }
}

@media screen and (max-width:768px) {
    main {
        grid-template-columns:1fr;
        grid-template-rows: repeat(6, 300px);
    }
}

header{
    text-align:center; 
    padding:2vh 0vw 10vh 0vw;
    color:#ffffff;
    margin:0vh 10vw;
}

header h1{
    text-align:center; 
    color:#e867ed;
}

.cards {
    border-style:solid;
    border-radius: 2px;
    border-color:#e0eae4;
    border-style: dashed;
}

h2 {
    position:relative;
    top:-1em;
    width:80%;
    margin:0 auto;
    padding: 1vh 1vw;
    color:#e867ed;
    border-style:solid;
    border-radius: 5px;
    border-color:#e0eae4;
}

p {
    color:#e867ed;
    margin:1vh 3%;
}

header article {
    text-align:center;
}

pre {
    margin:0 3% 3% 3%;
    font-family:monospace;
    font-size:1.25em;
    line-height: 1.5;
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%);
    border-radius:5px;
    color:#ffffff;
    padding-top: 2vh;
}
